PyMuPDF
PyPDF2<3.0
camelot-py[cv]
Pillow
llama-index
llama-index-core
llama-index-embeddings-huggingface
llama-parse
ollama
llama-index-llms-ollama
pinecone[grpc]==5.1.0
llama-index-vector-stores-pinecone==0.2.1